body{
  padding-left: 10px;
}
img {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    width: 150px;
    background-color: gray;
  }
  h2{
    background-color: slategrey;
  }
  .hh2{
    background-color: white;
  }
 .table2, .th2, .td2{
    border: 1px solid black;
  }
